a {
  color: black !important;

}
.diary {
    display: table;
    overflow: hidden;
  }
  
  .number {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 30px;
    width: 100px;


  }
  .title {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 30px;
    width: 400px;

  }
  
  .link_detail_title {
    color: #612424;
  }
  
  .weather {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 30px;
    width: 100px;

  }
  
  .link_detail_weather {
    color: #28546a;
  }
  
  .created {
    color: #999999;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 30px;
    width: 200px;
  }

  
